<form>
    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="kind">Element kind</label>
            <select id="kind" class="form-control">
              <option selected>Concert</option>
              <option>Album</option>
            </select>
        </div>
        <div class="form-group col-md-6">
            <label for="inputPassword4">Password</label>
            <input type="password" class="form-control" id="inputPassword4" placeholder="Password">
        </div>
    </div>
</form>
